<section class="posts">
  <article>
    <form action="/posts" method="post" enctype="multipart/form-data">
      <p>
        <textarea name="text" id="" rows="2" placeholder="Qué hay de nuevo viejo?"></textarea>
      </p>
      <p>
        <input type="file" name="image" id="">
      </p>
      <input type="submit" value="postea">
    </form>
    <div>
    {{#each posts}}
      <div class="card">
        <div>
          <a href="/users/{{this.user.username}}">
            <img src="{{this.user.photoURL}}" alt="">
            <span>{{this.user.username}}</span>
          </a>          
        </div>
        <img src="{{this.photoURL}}" alt="">
        <div>{{this.text}}</div>
      </div>
    {{/each}}
    </div>
  </article>
</section>